
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  font-family: sans-serif;
  color: white;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
  padding: 12px;
  justify-content: center;
}
.project_btn{
  background-color: red; color: white; font-size: 1em; height: 2em; width: 7em; 
}
.project_btn:hover {
  padding: 10px 14px;
  background-color: #3a3adc;
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(84, 255, 5, 1);
}
.side {
  flex: 280px;
  max-width: 400px;
  border: 2px solid rgba(255, 255, 255, 0.178);
}

.pic {
  display: grid;
  width: 100%;
  
}

.pic img {
  grid-area: 1 / 1;
  display: block;
  width: 100%;
  height: auto;
}

.pic p {
  grid-area: 1 / 1;
  align-self: end;
  justify-self: start;
  margin: 10px;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
}

.list {
  margin: 17px 0 17px 12px;
}

.list ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 17px;
}

.line {
  width: 92%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.151);
  margin-left: 12px;
}

.Skills {
  margin: 17px 0 0 12px;
}

.Skills p {
  margin: 17px 0;
}

.skill-line {
  width: 93%;
  height: 20px;
  border-radius: 16px;
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  color: white;
}

.one, .two, .three, .four, .eng, .spa, .ger {
  height: 18px;
  border-radius: 16px;
  background-color: #009688;
}

.one { width: 90%; }
.two { width: 80%; }
.three { width: 50%; }
.four { width: 45%; }
.eng { width: 100%; }
.spa { width: 50%; }
.ger { width: 25%; }

.languages {
  margin: 30px 0 0 12px;
}

.languages p {
  margin: 17px 0;
}

.end {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.up, .down {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.178);
}

.innercon {
  margin: 17px 0 12px 12px;
}

.innercon h3 {
  color: rgba(255, 255, 255, 0.664);
  margin-top: 35px;
}

.innercon p {
  margin-top: 17px;
  margin-bottom: 17px;
}

.line_pro {
  width: 96%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.151);
}

footer {
  margin-top: 2em;
  width: 100%;
  background-color: #009688;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 55px;
  
}

footer ul li:hover {
  filter: brightness(70%);
}

footer a {
  color: white;
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .side {
    flex: 100%;
    max-width: 100%;
  }
}


.white-theme {
  background-color: rgb(255, 254, 248);
  color: black;
}

.white-theme .side,
.white-theme .up,
.white-theme .down {
  border: 2px solid rgba(0, 0, 0, 0.178);
}

.white-theme .line,
.white-theme .line_pro {
  background-color: rgba(0, 0, 0, 0.151);
}

.white-theme .skill-line {
  border: 2px solid black;
}

.white-theme .pic p {
  color: black;
}

.white-theme .innercon h3 {
  color: rgba(0, 0, 0, 0.664);
}

  .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin: auto;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #444;
      transition: 0.4s;
      border-radius: 34px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: #ccc;
    }

    input:checked + .slider:before {
      transform: translateX(26px);
    }

    .labels {
      display: flex;
      justify-content: space-between;
      width: 60px;
      font-size: 12px;
      margin-top: 4px;
    }